<!-- 
<mat-grid-list cols="2" rowHeight="300px" gutterSize = "10px">
    <mat-grid-tile>  
        <mat-card>
            Sesnor 1
        
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile> 
     <mat-card>
            Sensor 2
    </mat-card> 
   </mat-grid-tile>

    <mat-grid-tile> 
        <mat-card>
          Sensor 3
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile> 
        <mat-card>
            Sensor 4
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
 -->
 
<div class="grid-container">   
  <mat-grid-list cols="2" rowHeight="350px" gutterSize = "20px">  
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">  
      <mat-card class="dashboard-card">  
          <mat-card-title>  
            {{card.title}}  
          </mat-card-title>  
         
        <mat-card-content class="dashboard-card-content">  
          <div>Card Content Here</div>  
        </mat-card-content>  
      </mat-card>  
    </mat-grid-tile>  
  </mat-grid-list>  
</div>
